﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="DealerCommission.ascx.cs" Inherits="VeritasGeneratorCS.Dealer.DealerCommission" %>
<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>

<asp:Table runat="server">
    <asp:TableRow>
        <asp:TableCell>
            <asp:Panel ID="pnlCommission" runat="server">
                <asp:Table runat="server">
                    <asp:TableRow>
                        <asp:TableCell>
                            <asp:Button ID="btnAddCommission" runat="server" Text="Add Commission" OnClick="btnAddCommission_Click" BorderColor="#1a4688" BackColor="#1a4688" ForeColor="White" />
                        </asp:TableCell>
                    </asp:TableRow>
                    <asp:TableRow>
                        <asp:TableCell>
                            <telerik:RadGrid ID="rgDealerCommission" OnSelectedIndexChanged="rgDealerCommission_SelectedIndexChanged" runat="server" AutoGenerateColumns="false"  
                                AllowFilteringByColumn="true" AllowSorting="true" AllowPaging="true"  Width="1000" ShowFooter="true" DataSourceID="SQLDataSource1" >
                                <GroupingSettings CaseSensitive="false" />
                                <MasterTableView AutoGenerateColumns="false" AllowFilteringByColumn="true" DataKeyNames="CommissionHeaderID" PageSize="10" ShowFooter="true">
                                    <Columns>
                                        <telerik:GridBoundColumn DataField="CommissionHeaderID" ReadOnly="true" Visible="false" UniqueName="CommissionHeaderID"></telerik:GridBoundColumn>
                                        <telerik:GridBoundColumn DataField="ProgramName" UniqueName="ProgramName" HeaderText="Program Name" AutoPostBackOnFilter="true" CurrentFilterFunction="Contains" ShowFilterIcon="true"></telerik:GridBoundColumn>
                                        <telerik:GridBoundColumn DataField="CommissionDesc" UniqueName="CommissionDesc" HeaderText="Desc" AutoPostBackOnFilter="true" CurrentFilterFunction="Contains" ShowFilterIcon="true"></telerik:GridBoundColumn>
                                        <telerik:GridBoundColumn DataField="RateTypename" UniqueName="RateType" HeaderText="Bucket" AutoPostBackOnFilter="true" CurrentFilterFunction="Contains" ShowFilterIcon="true"></telerik:GridBoundColumn>
                                        <telerik:GridBoundColumn DataField="AgentNo" UniqueName="AgentNo" HeaderText="Agent No" AutoPostBackOnFilter="true" CurrentFilterFunction="Contains" ShowFilterIcon="true"></telerik:GridBoundColumn>
                                        <telerik:GridBoundColumn DataField="AgentName" UniqueName="AgentName" HeaderText="Agent Name" AutoPostBackOnFilter="true" CurrentFilterFunction="Contains" ShowFilterIcon="true"></telerik:GridBoundColumn>
                                        <telerik:GridBoundColumn DataField="Class" UniqueName="Class" HeaderText="Class" AutoPostBackOnFilter="true" CurrentFilterFunction="Contains" ShowFilterIcon="true"></telerik:GridBoundColumn>
                                        <telerik:GridBoundColumn DataField="Amt" UniqueName="Amt" HeaderText="Amount" DataFormatString="{0:###.00}" AutoPostBackOnFilter="true" CurrentFilterFunction="Contains" ShowFilterIcon="true"></telerik:GridBoundColumn>
                                        <telerik:GridBoundColumn DataField="StartDate" UniqueName="StartDate" HeaderText="Start Date" DataFormatString="{0:M/d/yyyy}" AutoPostBackOnFilter="true" CurrentFilterFunction="Contains" ShowFilterIcon="true"></telerik:GridBoundColumn>
                                        <telerik:GridBoundColumn DataField="EndDate" UniqueName="EndDate" HeaderText="End Date" DataFormatString="{0:M/d/yyyy}" AutoPostBackOnFilter="true" CurrentFilterFunction="Contains" ShowFilterIcon="true"></telerik:GridBoundColumn>
                                    </Columns>
                                </MasterTableView>
                                <ClientSettings EnablePostBackOnRowClick="true">
                                    <Selecting AllowRowSelect="true" />
                                </ClientSettings>
                            </telerik:RadGrid>
                            <asp:SqlDataSource ID="SqlDataSource1"
                            ProviderName="System.Data.SqlClient" 
                            SelectCommand="select CommissionHeaderID, CommissionDesc, RateTypeName, ProgramName, AgentNo, agentname, class, Amt, startdate, enddate 
                            from CommissionHeader ch
                                inner join RateType rt on ch.ratetypeid = rt.ratetypeid 
                                inner join Program P on p.programid = ch.programid
                                left join agents A on a.agentid = ch.agentid 
                            where dealerid = @dealerid " runat="server">
                            <SelectParameters>
                                <asp:ControlParameter ControlID="hfDealerID" Name="DealerID" PropertyName="Value" Type="Int32" />
                            </SelectParameters>
                            </asp:SqlDataSource>
                        </asp:TableCell>
                    </asp:TableRow>
                    <asp:TableRow>
                        <asp:TableCell  ID="tcGuard">
                            <telerik:RadGrid ID="rgGuard" runat="server" AutoGenerateColumns="false"
                                AllowSorting="true" AllowPaging="true"  DataSourceID="dsGuard">
                                <MasterTableView AutoGenerateColumns="false" PageSize="10" ShowFooter="true">
                                    <Columns>
                                        <telerik:GridBoundColumn DataField="ProgramName" UniqueName="ProgramName" HeaderText="Program Name"></telerik:GridBoundColumn>
                                        <telerik:GridBoundColumn DataField="Class1" UniqueName="Class1" DataFormatString="{0:c}" HeaderText="1"></telerik:GridBoundColumn>
                                        <telerik:GridBoundColumn DataField="Class2" UniqueName="Class2" DataFormatString="{0:c}" HeaderText="2"></telerik:GridBoundColumn>
                                        <telerik:GridBoundColumn DataField="Class3" UniqueName="Class3" DataFormatString="{0:c}" HeaderText="3"></telerik:GridBoundColumn>
                                        <telerik:GridBoundColumn DataField="Class4" UniqueName="Class4" DataFormatString="{0:c}" HeaderText="4"></telerik:GridBoundColumn>
                                        <telerik:GridBoundColumn DataField="Class5" UniqueName="Class5" DataFormatString="{0:c}" HeaderText="5"></telerik:GridBoundColumn>
                                        <telerik:GridBoundColumn DataField="Class6" UniqueName="Class6" DataFormatString="{0:c}" HeaderText="6"></telerik:GridBoundColumn>
                                        <telerik:GridBoundColumn DataField="Class7" UniqueName="Class7" DataFormatString="{0:c}" HeaderText="7"></telerik:GridBoundColumn>
                                        <telerik:GridBoundColumn DataField="Class8" UniqueName="Class8" DataFormatString="{0:c}" HeaderText="8"></telerik:GridBoundColumn>
                                        <telerik:GridBoundColumn DataField="Class9" UniqueName="Class9" DataFormatString="{0:c}" HeaderText="9"></telerik:GridBoundColumn>
                                        <telerik:GridBoundColumn DataField="Class10" UniqueName="Class10" DataFormatString="{0:c}" HeaderText="10"></telerik:GridBoundColumn>
                                    </Columns>
                                </MasterTableView>
                            </telerik:RadGrid>
                            <asp:SqlDataSource ID="dsGuard"
                            ProviderName="System.Data.SqlClient" 
                            SelectCommand="select programname, Class1, class2, class3, class4, class5, class6, class7, class8, class9, class10 from vwcommissionsummary cs  inner join Program P on p.programid = cs.programid where (cs.programid = 1 or cs.programid = 7 or cs.programid = 28 or cs.programid = 35 or cs.programid = 37 or cs.programid = 38) and dealerid = @dealerid and (class1 > 0 or class2 > 0 or class3 > 0 or class4 > 0 or class5 > 0 or class6 > 0 or class7 > 0 or class8 > 0 or class9 > 0 or class10 > 0) " 
                                runat="server">
                            <SelectParameters>
                                <asp:ControlParameter ControlID="hfDealerID" Name="DealerID" PropertyName="Value" Type="Int32" />
                            </SelectParameters>
                            </asp:SqlDataSource>
                        </asp:TableCell>
                    </asp:TableRow>
                    <asp:TableRow>
                        <asp:TableCell>
                            <asp:Table runat="server">
                                <asp:TableRow>
                                    <asp:TableCell ID="tcHighline" VerticalAlign="Top">
                                        <telerik:RadGrid ID="rgHighLine" runat="server" AutoGenerateColumns="false"
                                            AllowSorting="true" AllowPaging="true"  DataSourceID="dsHighline">
                                            <MasterTableView AutoGenerateColumns="false" DataKeyNames="" PageSize="10" ShowFooter="true">
                                                <Columns>
                                                    <telerik:GridBoundColumn DataField="ProgramName" UniqueName="ProgramName" HeaderText="Program Name"></telerik:GridBoundColumn>
                                                    <telerik:GridBoundColumn DataField="ClassH1" UniqueName="ClassH1" DataFormatString="{0:c}" HeaderText="H1"></telerik:GridBoundColumn>
                                                    <telerik:GridBoundColumn DataField="ClassH2" UniqueName="ClassH2" DataFormatString="{0:c}" HeaderText="H2"></telerik:GridBoundColumn>
                                                    <telerik:GridBoundColumn DataField="ClassH3" UniqueName="ClassH3" DataFormatString="{0:c}" HeaderText="H3"></telerik:GridBoundColumn>
                                                    <telerik:GridBoundColumn DataField="ClassH4" UniqueName="ClassH4" DataFormatString="{0:c}" HeaderText="H4"></telerik:GridBoundColumn>
                                                </Columns>
                                            </MasterTableView>
                                        </telerik:RadGrid>
                                        <asp:SqlDataSource ID="dsHighline"
                                        ProviderName="System.Data.SqlClient" 
                                        SelectCommand="select programname, ClassH1, classH2, classH3, classH4 from vwcommissionsummary cs inner join Program P on p.programid = cs.programid where (cs.programid = 2 or cs.programid = 36 or cs.programid = 39 or cs.programid = 40) and dealerid = @dealerid and (classH1 > 0 or classH2 > 0 or classH3 > 0 or classH4 > 0) " 
                                            runat="server">
                                        <SelectParameters>
                                            <asp:ControlParameter ControlID="hfDealerID" Name="DealerID" PropertyName="Value" Type="Int32" />
                                        </SelectParameters>
                                        </asp:SqlDataSource>
                                    </asp:TableCell>
                                    <asp:TableCell ID="tcExotic" VerticalAlign="Top">
                                        <telerik:RadGrid ID="rgExotic" runat="server" AutoGenerateColumns="false"
                                            AllowSorting="true" AllowPaging="true"  DataSourceID="dsExotic">
                                            <MasterTableView AutoGenerateColumns="false" DataKeyNames="" PageSize="10" ShowFooter="true">
                                                <Columns>
                                                    <telerik:GridBoundColumn DataField="ProgramName" UniqueName="ProgramName" HeaderText="Program Name"></telerik:GridBoundColumn>
                                                    <telerik:GridBoundColumn DataField="ClassE1" UniqueName="ClassE1" DataFormatString="{0:c}" HeaderText="E1"></telerik:GridBoundColumn>
                                                    <telerik:GridBoundColumn DataField="ClassE2" UniqueName="ClassE2" DataFormatString="{0:c}" HeaderText="E2"></telerik:GridBoundColumn>
                                                    <telerik:GridBoundColumn DataField="ClassE3" UniqueName="ClassE3" DataFormatString="{0:c}" HeaderText="E3"></telerik:GridBoundColumn>
                                                </Columns>
                                            </MasterTableView>
                                        </telerik:RadGrid>
                                        <asp:SqlDataSource ID="dsExotic"
                                        ProviderName="System.Data.SqlClient" 
                                        SelectCommand="select programname, ClassE1, classE2, classE3 from vwcommissionsummary cs inner join Program P on p.programid = cs.programid where (cs.programid = 3 or cs.programid = 41 or cs.programid = 42 or cs.programid = 61) and dealerid = @dealerid and (classE1 > 0 or classE2 > 0 or classE3 > 0) " 
                                            runat="server">
                                        <SelectParameters>
                                            <asp:ControlParameter ControlID="hfDealerID" Name="DealerID" PropertyName="Value" Type="Int32" />
                                        </SelectParameters>
                                        </asp:SqlDataSource>
                                    </asp:TableCell>
                                    <asp:TableCell ID="tcEssentials" VerticalAlign="Top">
                                        <telerik:RadGrid ID="rgEssentils" runat="server" AutoGenerateColumns="false"
                                            AllowSorting="true" AllowPaging="true"  DataSourceID="dsEssentials">
                                            <MasterTableView AutoGenerateColumns="false" DataKeyNames="" PageSize="10" ShowFooter="true">
                                                <Columns>
                                                    <telerik:GridBoundColumn DataField="ProgramName" UniqueName="ProgramName" HeaderText="Program Name"></telerik:GridBoundColumn>
                                                    <telerik:GridBoundColumn DataField="ClassA" UniqueName="ClassA" DataFormatString="{0:c}" HeaderText="A"></telerik:GridBoundColumn>
                                                    <telerik:GridBoundColumn DataField="ClassD" UniqueName="ClassD" DataFormatString="{0:c}" HeaderText="D"></telerik:GridBoundColumn>
                                                    <telerik:GridBoundColumn DataField="ClassE" UniqueName="ClassE" DataFormatString="{0:c}" HeaderText="E"></telerik:GridBoundColumn>
                                                    <telerik:GridBoundColumn DataField="ClassH" UniqueName="ClassH" DataFormatString="{0:c}" HeaderText="H"></telerik:GridBoundColumn>
                                                </Columns>
                                            </MasterTableView>
                                        </telerik:RadGrid>
                                        <asp:SqlDataSource ID="dsEssentials"
                                        ProviderName="System.Data.SqlClient" 
                                        SelectCommand="select programname, ClassA, classD, classE, classH from vwcommissionsummary cs inner join Program P on p.programid = cs.programid where (cs.programid = 4 or cs.programid = 5 or cs.programid = 6 or cs.programid = 26 or cs.programid = 27) and dealerid = @dealerid and (classA > 0 or classD > 0 or classE > 0 or classH > 0) " 
                                            runat="server">
                                        <SelectParameters>
                                            <asp:ControlParameter ControlID="hfDealerID" Name="DealerID" PropertyName="Value" Type="Int32" />
                                        </SelectParameters>
                                        </asp:SqlDataSource>
                                    </asp:TableCell>
                                </asp:TableRow>
                            </asp:Table>
                        </asp:TableCell>
                    </asp:TableRow>
                    <asp:TableRow>
                        <asp:TableCell ID="tcWrap">
                            <telerik:RadGrid ID="rgWrap" runat="server" AutoGenerateColumns="false"
                                AllowSorting="true" AllowPaging="true"  DataSourceID="dsWrap">
                                <MasterTableView AutoGenerateColumns="false" DataKeyNames="" PageSize="10" ShowFooter="true">
                                    <Columns>
                                        <telerik:GridBoundColumn DataField="ProgramName" UniqueName="ProgramName" HeaderText="Program Name"></telerik:GridBoundColumn>
                                        <telerik:GridBoundColumn DataField="ClassA" UniqueName="ClassA" DataFormatString="{0:c}" HeaderText="A"></telerik:GridBoundColumn>
                                        <telerik:GridBoundColumn DataField="ClassB" UniqueName="ClassB" DataFormatString="{0:c}" HeaderText="B"></telerik:GridBoundColumn>
                                        <telerik:GridBoundColumn DataField="ClassC" UniqueName="ClassC" DataFormatString="{0:c}" HeaderText="C"></telerik:GridBoundColumn>
                                        <telerik:GridBoundColumn DataField="ClassD" UniqueName="ClassD" DataFormatString="{0:c}" HeaderText="D"></telerik:GridBoundColumn>
                                        <telerik:GridBoundColumn DataField="ClassE" UniqueName="ClassE" DataFormatString="{0:c}" HeaderText="E"></telerik:GridBoundColumn>
                                        <telerik:GridBoundColumn DataField="ClassF" UniqueName="ClassF" DataFormatString="{0:c}" HeaderText="F"></telerik:GridBoundColumn>
                                        <telerik:GridBoundColumn DataField="ClassG" UniqueName="ClassG" DataFormatString="{0:c}" HeaderText="G"></telerik:GridBoundColumn>
                                        <telerik:GridBoundColumn DataField="ClassH" UniqueName="ClassH" DataFormatString="{0:c}" HeaderText="H"></telerik:GridBoundColumn>
                                        <telerik:GridBoundColumn DataField="ClassI" UniqueName="ClassI" DataFormatString="{0:c}" HeaderText="I"></telerik:GridBoundColumn>
                                    </Columns>
                                </MasterTableView>
                            </telerik:RadGrid>
                            <asp:SqlDataSource ID="dsWrap"
                            ProviderName="System.Data.SqlClient" 
                            SelectCommand="select programname, ClassA, classB, classC, classD, classE, classF, classG, classH, classI from vwcommissionsummary cs inner join Program P on p.programid = cs.programid where (cs.programid = 29 or cs.programid = 30) and dealerid = @dealerid and (classA > 0 or classB > 0 or classC > 0 or classD > 0 or classE > 0 or classF > 0 or classG > 0 or classH > 0 or classI > 0) " 
                                runat="server">
                            <SelectParameters>
                                <asp:ControlParameter ControlID="hfDealerID" Name="DealerID" PropertyName="Value" Type="Int32" />
                            </SelectParameters>
                            </asp:SqlDataSource>
                        </asp:TableCell>
                    </asp:TableRow>
                </asp:Table>

            </asp:Panel>
        </asp:TableCell>
    </asp:TableRow>
    <asp:TableRow>
        <asp:TableCell>
            <asp:Panel ID="pnlCommissionDetail" runat="server">
                <asp:Table runat="server">
                    <asp:TableRow>
                        <asp:TableCell VerticalAlign="Top">
                            <asp:Table runat="server">
                                <asp:TableRow>
                                    <asp:TableCell Font-Bold="true">
                                        Commission Desc:
                                    </asp:TableCell>
                                    <asp:TableCell>
                                        <asp:TextBox ID="txtCommDesc" Width="200" runat="server"></asp:TextBox>
                                    </asp:TableCell>
                                </asp:TableRow>
                                <asp:TableRow>
                                    <asp:TableCell Font-Bold="true">
                                        Bucket:
                                    </asp:TableCell>
                                    <asp:TableCell>
                                        <asp:TextBox ID="txtRateType" Enabled="false" runat="server"></asp:TextBox>
                                        <asp:Button ID="btnSearchRateType" runat="server" Text="Search Bucket" OnClick="btnSearchRateType_Click" BackColor="#1eabe2" BorderColor="#1eabe2"/>
                                    </asp:TableCell>
                                </asp:TableRow>
                                <asp:TableRow>
                                    <asp:TableCell Font-Bold="true">
                                        Program:
                                    </asp:TableCell>
                                    <asp:TableCell>
                                        <telerik:RadComboBox ID="cboProgram" OnSelectedIndexChanged="cboProgram_SelectedIndexChanged" DataSourceID="dsProgram" DataTextField="ProgramName" DataValueField="ProgramID" AutoPostBack="true" runat="server"></telerik:RadComboBox>
                                        <asp:SqlDataSource ID="dsProgram"
                                        ProviderName="System.Data.SqlClient" SelectCommand="select programid, programname from CommissionProgram order by CPID " runat="server"></asp:SqlDataSource>
                                    </asp:TableCell>
                                </asp:TableRow>
                                <asp:TableRow>
                                    <asp:TableCell Font-Bold="true">
                                        Start Date:
                                    </asp:TableCell>
                                    <asp:TableCell>
                                        <telerik:RadDatePicker ID="rdpStartDate" runat="server"></telerik:RadDatePicker>
                                    </asp:TableCell>
                                </asp:TableRow>
                            </asp:Table>
                        </asp:TableCell>
                        <asp:TableCell VerticalAlign="Top">
                            <asp:Table runat="server">
                                <asp:TableRow>
                                    <asp:TableCell Font-Bold="true">
                                        Agent:
                                    </asp:TableCell>
                                    <asp:TableCell>
                                        <asp:TextBox ID="txtAgent" Enabled="false" runat="server"></asp:TextBox>
                                        <asp:Button ID="btnAgent" runat="server" Text="Search Agent" OnClick="btnAgent_Click" BackColor="#1eabe2" BorderColor="#1eabe2"/>
                                    </asp:TableCell>
                                </asp:TableRow>
                                <asp:TableRow>
                                    <asp:TableCell Font-Bold="true">
                                        &nbsp
                                    </asp:TableCell>
                                    <asp:TableCell>
                                        &nbsp
                                    </asp:TableCell>
                                </asp:TableRow>
                                <asp:TableRow>
                                    <asp:TableCell Font-Bold="true">
                                        Class
                                    </asp:TableCell>
                                    <asp:TableCell>
                                        <telerik:RadComboBox ID="cboClass" CheckBoxes="true" EnableCheckAllItemsCheckBox="true" runat="server"></telerik:RadComboBox>
                                    </asp:TableCell>
                                </asp:TableRow>
                                <asp:TableRow>
                                    <asp:TableCell Font-Bold="true">
                                        Amt
                                    </asp:TableCell>
                                    <asp:TableCell>
                                        <telerik:RadNumericTextBox ID="txtAmount" runat="server"></telerik:RadNumericTextBox>
                                        <asp:CheckBox ID="chkNoChargeBack" Text="No Charge Back" runat="server" />
                                    </asp:TableCell>
                                </asp:TableRow>
                                <asp:TableRow>
                                    <asp:TableCell Font-Bold="true">
                                        End Date:
                                    </asp:TableCell>
                                    <asp:TableCell>
                                        <telerik:RadDatePicker ID="rdpEndDate" runat="server"></telerik:RadDatePicker>
                                    </asp:TableCell>
                                </asp:TableRow>
                            </asp:Table>
                        </asp:TableCell>
                        <asp:TableCell VerticalAlign="Top">
                            <asp:Table runat="server">
                                <asp:TableRow>
                                    <asp:TableCell Font-Bold="true">
                                        Create Date:
                                    </asp:TableCell>
                                    <asp:TableCell>
                                        <asp:Label ID="lblCreDate" runat="server" Text=""></asp:Label>
                                    </asp:TableCell>
                                </asp:TableRow>
                                <asp:TableRow>
                                    <asp:TableCell Font-Bold="true">
                                        Create by:
                                    </asp:TableCell>
                                    <asp:TableCell>
                                        <asp:Label ID="lblCreBy" runat="server" Text=""></asp:Label>
                                    </asp:TableCell>
                                </asp:TableRow>
                                <asp:TableRow>
                                    <asp:TableCell Font-Bold="true">
                                        Modify Date:
                                    </asp:TableCell>
                                    <asp:TableCell>
                                        <asp:Label ID="lblModDate" runat="server" Text=""></asp:Label>
                                    </asp:TableCell>
                                </asp:TableRow>
                                <asp:TableRow>
                                    <asp:TableCell Font-Bold="true">
                                        Modify By:
                                    </asp:TableCell>
                                    <asp:TableCell>
                                        <asp:Label ID="lblModBy" runat="server" Text=""></asp:Label>
                                    </asp:TableCell>
                                </asp:TableRow>
                                <asp:TableRow ID="trNCB">
                                    <asp:TableCell>
                                        <asp:TextBox ID="txtNCB" TextMode="Number" runat="server"></asp:TextBox>
                                    </asp:TableCell>
                                </asp:TableRow>
                            </asp:Table>
                        </asp:TableCell>
                    </asp:TableRow>
                    <asp:TableRow>
                        <asp:TableCell>
                            <asp:Button ID="btnDeleteCommission" runat="server" Text="Delete" OnClick="btnDeleteCommission_Click" />
                        </asp:TableCell>
                        <asp:TableCell>
                            &nbsp
                        </asp:TableCell>
                        <asp:TableCell>
                            <asp:Table runat="server">
                                <asp:TableRow>
                                    <asp:TableCell>
                                        <asp:Button ID="btnSaveCommission" runat="server" Text="Save" OnClick="btnSaveCommission_Click" BorderColor="#1a4688" BackColor="#1a4688" ForeColor="White"/>
                                    </asp:TableCell>
                                    <asp:TableCell>
                                        <asp:Button ID="btnCancelCommission" runat="server" Text="Cancel" OnClick="btnCancelCommission_Click" BackColor="#1eabe2" BorderColor="#1eabe2"/>
                                    </asp:TableCell>
                                </asp:TableRow>
                            </asp:Table>
                        </asp:TableCell>
                    </asp:TableRow>
                </asp:Table>
            </asp:Panel>
        </asp:TableCell>
    </asp:TableRow>
    <asp:TableRow>
        <asp:TableCell>
            <asp:Panel runat="server" ID="pnlConfirmDelete" BorderStyle="Double">
                <asp:Table runat="server">
                    <asp:TableRow>
                        <asp:TableCell>
                            <asp:Table runat="server">
                                <asp:TableRow>
                                    <asp:TableCell Font-Bold="true">
                                        Program:
                                    </asp:TableCell>
                                    <asp:TableCell>
                                        <asp:Label ID="lblProgramConfirm" runat="server" Text=""></asp:Label>
                                    </asp:TableCell>
                                    <asp:TableCell Font-Bold="true">
                                        Bucket:
                                    </asp:TableCell>
                                    <asp:TableCell>
                                        <asp:Label ID="lblRateTypeConfirm" runat="server" Text=""></asp:Label>
                                    </asp:TableCell>
                                    <asp:TableCell Font-Bold="true">
                                        Amount:
                                    </asp:TableCell>
                                    <asp:TableCell>
                                        <asp:Label ID="lblAmtConfirm" runat="server" Text=""></asp:Label>
                                    </asp:TableCell>
                                </asp:TableRow>
                            </asp:Table>
                        </asp:TableCell>
                    </asp:TableRow>
                    <asp:TableRow>
                        <asp:TableCell HorizontalAlign="Center" ForeColor="Red">
                            Do you wish to delete?
                        </asp:TableCell>
                    </asp:TableRow>
                    <asp:TableRow>
                        <asp:TableCell HorizontalAlign="Right">
                            <asp:Table runat="server">
                                <asp:TableRow>
                                    <asp:TableCell>
                                        <asp:Button ID="btnYesConfirm" runat="server" Text="Yes" OnClick="btnYesConfirm_Click" />
                                    </asp:TableCell>
                                    <asp:TableCell>
                                        <asp:Button ID="btnNoConfirm" runat="server" Text="No" OnClick="btnNoConfirm_Click" />
                                    </asp:TableCell>
                                </asp:TableRow>
                            </asp:Table>
                        </asp:TableCell>
                    </asp:TableRow>
                </asp:Table>
            </asp:Panel>
        </asp:TableCell>
    </asp:TableRow>
    <asp:TableRow>
        <asp:TableCell>
            <asp:Panel ID="pnlSearchRateType" runat="server">
                <asp:Table runat="server">
                    <asp:TableRow>
                        <asp:TableCell>
                            <asp:Button ID="btnAddRateType" runat="server" Text="Add Bucket" OnClick="btnAddRateType_Click" BackColor="#1eabe2" BorderColor="#1eabe2" />
                        </asp:TableCell>
                    </asp:TableRow>
                    <asp:TableRow>
                        <asp:TableCell>
                            <telerik:RadGrid ID="rgRateType" runat="server" OnSelectedIndexChanged="rgRateType_SelectedIndexChanged" AutoGenerateColumns="false" AllowFilteringByColumn="true" 
                                AllowSorting="true" AllowPaging="true"  Width="1000" ShowFooter="true" DataSourceID="dsRateType">
                                <GroupingSettings CaseSensitive="false" />
                                <MasterTableView AutoGenerateColumns="false" AllowFilteringByColumn="true" DataKeyNames="RateTypeID" PageSize="10" ShowFooter="true">
                                    <Columns>
                                        <telerik:GridBoundColumn DataField="RateTypeID" ReadOnly="true" Visible="false" UniqueName="DealerID"></telerik:GridBoundColumn>
                                        <telerik:GridBoundColumn DataField="RateTypeName" UniqueName="RateType" HeaderText="Bucket" AutoPostBackOnFilter="true" CurrentFilterFunction="Contains" ShowFilterIcon="true"></telerik:GridBoundColumn>
                                        <telerik:GridBoundColumn DataField="CategoryName" UniqueName="RateCategory" HeaderText="Bucket Category" AutoPostBackOnFilter="true" CurrentFilterFunction="Contains" ShowFilterIcon="true"></telerik:GridBoundColumn>
                                    </Columns>
                                </MasterTableView>
                                <ClientSettings EnablePostBackOnRowClick="true">
                                    <Selecting AllowRowSelect="true" />
                                </ClientSettings>
                            </telerik:RadGrid>
                            <asp:SqlDataSource ID="dsRateType"
                            ProviderName="System.Data.SqlClient" SelectCommand="select ratetypeid, ratetypeName, categoryname from ratetype rt inner join ratecategory rc on rt.ratecategoryid = rc.ratecategoryid where ratetypeid <> 29 " 
                            runat="server"></asp:SqlDataSource>
                        </asp:TableCell>
                    </asp:TableRow>
                    <asp:TableRow>
                        <asp:TableCell HorizontalAlign="Right">
                            <asp:Button ID="btnCancelRateType" runat="server" Text="Cancel" OnClick="btnCancelRateType_Click" BackColor="#1eabe2" BorderColor="#1eabe2"/>
                        </asp:TableCell>
                    </asp:TableRow>
                </asp:Table>
            </asp:Panel>
        </asp:TableCell>
    </asp:TableRow>
    <asp:TableRow>
        <asp:TableCell>
            <asp:Panel ID="pnlAddRateType" runat="server">
                <asp:Table runat="server">
                    <asp:TableRow>
                        <asp:TableCell Font-Bold="true">
                            Bucket Name:
                        </asp:TableCell>
                        <asp:TableCell>
                            <asp:TextBox ID="txtRateTypeAdd" runat="server"></asp:TextBox>
                        </asp:TableCell>
                    </asp:TableRow>
                    <asp:TableRow>
                        <asp:TableCell>
                            Bucket Category
                        </asp:TableCell>
                        <asp:TableCell>
                            <telerik:RadComboBox ID="cboRateCategoryAdd" DataSourceID="dsRateCategory" DataTextField="CategoryName" DataValueField="RateCategoryID" runat="server"></telerik:RadComboBox>
                            <asp:SqlDataSource ID="dsRateCategory"
                            ProviderName="System.Data.SqlClient" SelectCommand="select RateCategoryid, categoryname from ratecategory order by categoryname " runat="server"></asp:SqlDataSource>
                        </asp:TableCell>
                    </asp:TableRow>
                    <asp:TableRow>
                        <asp:TableCell>
                            &nbsp
                        </asp:TableCell>
                        <asp:TableCell>
                            <asp:Table runat="server">
                                <asp:TableRow>
                                    <asp:TableCell>
                                        <asp:Button ID="btnSaveCategory" runat="server" Text="Save" OnClick="btnSaveCategory_Click" BorderColor="#1a4688" BackColor="#1a4688" ForeColor="White"/>
                                    </asp:TableCell>
                                    <asp:TableCell>
                                        <asp:Button ID="btnCancelCategory" runat="server" Text="Cancel" OnClick="btnCancelCategory_Click" BackColor="#1eabe2" BorderColor="#1eabe2"/>
                                    </asp:TableCell>
                                </asp:TableRow>
                            </asp:Table>
                        </asp:TableCell>
                    </asp:TableRow>
                </asp:Table>
            </asp:Panel>
        </asp:TableCell>
    </asp:TableRow>
    <asp:TableRow>
        <asp:TableCell>
            <asp:Panel ID="pnlSearchAgent" runat="server">
                <asp:Table runat="server">
                    <asp:TableRow>
                        <asp:TableCell>
                            <telerik:RadGrid ID="rgAgent" runat="server" OnSelectedIndexChanged="rgAgent_SelectedIndexChanged" AutoGenerateColumns="false" AllowFilteringByColumn="true" 
                                AllowSorting="true" AllowPaging="true"  Width="1000" ShowFooter="true" DataSourceID="dsAgent">
                                <GroupingSettings CaseSensitive="false" />
                                <MasterTableView AutoGenerateColumns="false" AllowFilteringByColumn="true" DataKeyNames="AgentID" PageSize="10" ShowFooter="true">
                                    <Columns>
                                        <telerik:GridBoundColumn DataField="AgentID" ReadOnly="true" Visible="false" UniqueName="DealerID"></telerik:GridBoundColumn>
                                        <telerik:GridBoundColumn DataField="AgentNo" UniqueName="AgentNo" HeaderText="Agent No" AutoPostBackOnFilter="true" CurrentFilterFunction="Contains" ShowFilterIcon="true"></telerik:GridBoundColumn>
                                        <telerik:GridBoundColumn DataField="AgentName" UniqueName="AgentName" HeaderText="Agent Name" AutoPostBackOnFilter="true" CurrentFilterFunction="Contains" ShowFilterIcon="true"></telerik:GridBoundColumn>
                                        <telerik:GridBoundColumn DataField="DBA" UniqueName="DBA" HeaderText="DBA" AutoPostBackOnFilter="true" CurrentFilterFunction="Contains" ShowFilterIcon="true"></telerik:GridBoundColumn>
                                        <telerik:GridBoundColumn DataField="City" UniqueName="City" HeaderText="City" AutoPostBackOnFilter="true" CurrentFilterFunction="Contains" ShowFilterIcon="true"></telerik:GridBoundColumn>
                                        <telerik:GridBoundColumn DataField="State" UniqueName="State" HeaderText="State" AutoPostBackOnFilter="true" CurrentFilterFunction="Contains" ShowFilterIcon="true"></telerik:GridBoundColumn>
                                    </Columns>
                                </MasterTableView>
                                <ClientSettings EnablePostBackOnRowClick="true">
                                    <Selecting AllowRowSelect="true" />
                                </ClientSettings>
                            </telerik:RadGrid>
                            <asp:SqlDataSource ID="dsAgent"
                            ProviderName="System.Data.SqlClient" SelectCommand="select agentid, agentno, agentname, DBA, city, state from agents" runat="server"></asp:SqlDataSource>
                        </asp:TableCell>
                    </asp:TableRow>
                    <asp:TableRow>
                        <asp:TableCell HorizontalAlign="Right">
                            <asp:Button ID="btnClearAgentInfo" runat="server" Text="Clear Agent Info" OnClick="btnClearAgentInfo_Click" BorderColor="#1a4688" BackColor="#1a4688" ForeColor="White" />
                        </asp:TableCell>
                    </asp:TableRow>
                </asp:Table>
            </asp:Panel>
        </asp:TableCell>
    </asp:TableRow>
    <asp:TableRow>
        <asp:TableCell>
            <asp:Panel ID="pnlSearchSubAgent" runat="server">
                <asp:Table runat="server">
                    <asp:TableRow>
                        <asp:TableCell>
                            <telerik:RadGrid ID="rgSubAgent" runat="server" OnSelectedIndexChanged="rgSubAgent_SelectedIndexChanged" AutoGenerateColumns="false" AllowFilteringByColumn="true" 
                                AllowSorting="true" AllowPaging="true"  Width="1000" ShowFooter="true" DataSourceID="dsSubAgent">
                                <GroupingSettings CaseSensitive="false" />
                                <MasterTableView AutoGenerateColumns="false" AllowFilteringByColumn="true" DataKeyNames="SubAgentID" PageSize="10" ShowFooter="true">
                                    <Columns>
                                        <telerik:GridBoundColumn DataField="SubAgentID" ReadOnly="true" Visible="false" UniqueName="DealerID"></telerik:GridBoundColumn>
                                        <telerik:GridBoundColumn DataField="SubAgentNo" UniqueName="SubAgentNo" HeaderText="Sub Agent No" AutoPostBackOnFilter="true" CurrentFilterFunction="Contains" ShowFilterIcon="true"></telerik:GridBoundColumn>
                                        <telerik:GridBoundColumn DataField="SubAgentName" UniqueName="SubAgentName" HeaderText="Sub Agent Name" AutoPostBackOnFilter="true" CurrentFilterFunction="Contains" ShowFilterIcon="true"></telerik:GridBoundColumn>
                                        <telerik:GridBoundColumn DataField="City" UniqueName="City" HeaderText="City" AutoPostBackOnFilter="true" CurrentFilterFunction="Contains" ShowFilterIcon="true"></telerik:GridBoundColumn>
                                        <telerik:GridBoundColumn DataField="State" UniqueName="State" HeaderText="State" AutoPostBackOnFilter="true" CurrentFilterFunction="Contains" ShowFilterIcon="true"></telerik:GridBoundColumn>
                                    </Columns>
                                </MasterTableView>
                                <ClientSettings EnablePostBackOnRowClick="true">
                                    <Selecting AllowRowSelect="true" />
                                </ClientSettings>
                            </telerik:RadGrid>
                            <asp:SqlDataSource ID="dsSubAgent"
                            ProviderName="System.Data.SqlClient" SelectCommand="select subagentid, subagentno, subagentname, city, state from subagents" runat="server"></asp:SqlDataSource>
                        </asp:TableCell>
                    </asp:TableRow>
                    <asp:TableRow>
                        <asp:TableCell>
                            <asp:Button ID="btnClearSubAgentInfo" runat="server" Text="Clear Sub Agent Info" OnClick="btnClearSubAgentInfo_Click" BorderColor="#1a4688" BackColor="#1a4688" ForeColor="White" />
                        </asp:TableCell>
                    </asp:TableRow>
                </asp:Table>
            </asp:Panel>
        </asp:TableCell>
    </asp:TableRow>
</asp:Table>

<asp:HiddenField ID="hfUserID" runat="server" />
<asp:HiddenField ID="hfDealerID" runat="server" />
<asp:HiddenField ID="hfAgentID" runat="server" />
<asp:HiddenField ID="hfSubAgentID" runat="server" />
<asp:HiddenField ID="hfRateTypeID" runat="server" />
<asp:HiddenField ID="hfCommissionHeaderID" runat="server" />

